@use "./typography";
@use "../utils/variables";
@use "../utils/functions" as func;

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

.container {
  $mb-padding: 20;
  max-width: func.container(1600px, 160, $mb-padding);
  margin: 0 auto;
  padding: 0 $mb-padding + px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}