@use "../base/reset";
@use "../utils/variables" as var;

#loading {
  & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      var.$bg-blueTint,
      orange,
      white,
      var.$text-darkblue
    );
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 2s;
  }

  /* #loading .loading-none {
  display: none;
} */

  &.loading-none {
    /* display: none; */
    opacity: 0;
    z-index: -999;
  }
}

.header-body {
  background-color: var.$bg-blueTint;
  padding: 126px 0 128px;
  .container {
    display: flex;
    gap: 60px;
    .text {
      h1 {
        width: 582px;
        height: 222;
        opacity: 1;
        top: 218px;
        left: 160px;
        font-family: Poppins;
        font-weight: 600;
        font-size: 54px;
        line-height: 74px;
        letter-spacing: 0%;
        color: var.$text-whiteHover;
      }
      p {
        margin: 24px 0 48px;
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0%;
        width: 562px;
        height: 56;
        opacity: 0.7;
        top: 464px;
        left: 160px;
        color: var.$text-whiteHover;
      }
      .a-tag {
        display: flex;
        gap: 40px;
        align-items: center;
        & a:nth-child(1) {
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          letter-spacing: 0%;
          color: var.$text-blueTint;
          padding: 16px 56px;
          background-color: var.$bg-yellow;
          border-radius: 41px;
        }
      }
    }
    @media (max-width: 1305px) {
      & {
        flex-direction: column;
        text-align: center;
        align-items: center;
        .text {
          .a-tag {
            justify-content: center;
          }
        }
      }
    }
    @media (max-width: 655px) {
      & {
        .text {
          .a-tag {
            flex-direction: column;
          }
          p {
            width: 100%;
          }
          h1 {
            width: 100%;
          }
        }
        .img {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
.wiew {
  background-color: var.$bg-white;
  .container {
    padding: 57px 0 128px;
    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0%;
      }
    }
    .body {
      display: flex;
      gap: 23px;
      margin-top: 64px;
      .card {
        .first-card {
          position: relative;
          .text {
            top: 0;
            position: absolute;
            background: linear-gradient(
              329.39deg,
              #1c1e53 -10.96%,
              rgba(28, 30, 83, 0.42) 103.96%
            );
            padding: 337px 48px 76px 35px;
            width: 47%;
            height: 100%;
            & p:nth-child(1) {
              font-family: Poppins;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              letter-spacing: 0%;
              width: 313px;
              height: 72;
              top: 1257px;
              left: 208px;
              opacity: 1;
              color: var.$text-whiteHover;
            }
            & p:nth-child(2) {
              font-family: Poppins;
              font-weight: 400;
              font-size: 16px;
              line-height: 28px;
              letter-spacing: 0%;
              width: 293px;
              height: 56;
              top: 1345px;
              left: 208px;
              opacity: 0.8;
              color: var.$text-whiteHover;
            }
          }
        }
      }
      .cards {
        // margin-left: 870px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        .last-card {
          position: relative;
          .text {
            position: absolute;
            top: 0;
            background: linear-gradient(
              329.39deg,
              #1c1e53 -10.96%,
              rgba(28, 30, 83, 0.42) 103.96%
            );
            width: 100%;
            height: 100%;
            padding: 129px 36px 45px 56px;
            p {
              font-family: Poppins;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              letter-spacing: 0%;
              width: 208px;
              height: 72;
              top: 1074px;
              left: 1091px;
              opacity: 1;
              color: var.$text-whiteHover;
            }
          }
        }
      }
    }
    @media (max-width: 1290px) {
      & {
        .body {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .card {
            &-img {
              width: 100%;
            }
          }
        }
      }
    }
    @media (max-width: 856px) {
      & {
        .body {
          .card {
            .first-card {
              .text {
                padding: 0;
                .text-card {
                  position: absolute;
                  left: 10%;
                  right: 5%;
                  bottom: 5%;
                  padding: 0;
                  & p:nth-child(1) {
                    width: 100%;
                  }
                  & p:nth-child(2) {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (max-width: 560px) {
      & {
        .header {
          flex-direction: column;
          text-align: center;
          .h2 {
            font-family: Poppins;
            font-weight: 600;
            font-size: 33px;
            line-height: 48px;
            letter-spacing: 0%;
          }
        }
      }
    }
    @media (max-width: 480px) {
      & {
        .body {
          .card {
            .first-card {
              .text {
                padding: 0;
                .text-card {
                  position: absolute;
                  left: 10%;
                  right: 5%;
                  bottom: 5%;
                  padding: 0;
                  & p:nth-child(1) {
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 20px;
                    letter-spacing: 0%;
                    width: 100%;
                    height: 72;
                    top: 1257px;
                    left: 208px;
                    opacity: 1;
                    color: #fff;
                  }
                  & p:nth-child(2) {
                    font-family: Poppins;
                    font-weight: 400;
                    font-size: 8px;
                    line-height: 12px;
                    letter-spacing: 0%;
                    width: 100%;
                    height: 56;
                    top: 1345px;
                    left: 208px;
                    opacity: 0.8;
                    color: #fff;
                  }
                  a {
                    width: 50px;
                    img {
                      width: 50%;
                    }
                  }
                }
              }
            }
          }
          .cards {
            .last-card {
              width: 100%;
            }
          }
        }
      }
    }
    @media (max-width: 418px) {
      & {
        .body {
          .cards {
            .last-card {
              width: 100%;
              .card-img {
                width: 100%;
              }
              .text {
                padding: 0;
                &-card {
                  position: absolute;
                  top: 30%;
                  left: 10%;
                }
              }
            }
            .third-card {
              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
.design {
  padding: 128px 0;
  background-color: var.$bg-grey;
  .container {
    .header {
      text-align: center;
      p {
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0%;
      }
      h2 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0%;
        width: 630px;
        height: 192;
        top: 1841px;
        left: 485px;
        opacity: 1;
        margin: 0 auto;
      }
    }
    .body {
      margin-top: 47px;
      .body-cards {
        display: flex;
        gap: 32px;
        position: relative;
        .body-card {
          width: 405px;
          height: 316;
          // top: 2080px;
          // left: 160px;
          opacity: 1;
          background-color: var.$bg-white;
          padding: 108px 32.58px 48px 48px;
          position: relative;
          img {
            position: absolute;
            top: 47.93px;
            left: 47.93px;
          }
          h6 {
            font-family: Poppins;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0%;
            color: var.$text-darkblue;
            margin-bottom: 22px;
          }
          p {
            width: 324.0791320800781px;
            height: 112;
            top: 2236px;
            left: 208.35px;
            opacity: 0.7;
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
          }
        }
      }
      .body-cards1 {
        display: flex;
        gap: 32px;
        position: relative;
        margin-top: 24px;
        .body-card {
          width: 405px;
          height: 316;
          position: relative;
          // top: 2080px;
          // left: 160px;
          opacity: 1;
          background-color: var.$bg-white;
          padding: 108px 32.58px 48px 48px;
          img {
            position: absolute;
            top: 47.93px;
            // left: 0;
          }
          h6 {
            font-family: Poppins;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0%;
            color: var.$text-darkblue;
            margin-bottom: 22px;
          }
          p {
            width: 324.0791320800781px;
            height: 112;
            top: 2236px;
            left: 208.35px;
            opacity: 0.7;
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
          }
        }
        .body-card_time {
          width: 405px;
          height: 316;
          // top: 2080px;
          // left: 160px;
          opacity: 1;
          background-color: var.$bg-white;
          padding: 108px 32.58px 48px 48px;
          position: relative;
          img {
            position: absolute;
            top: 47.93px;
          }
          h6 {
            font-family: Poppins;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0%;
            color: var.$text-darkblue;
            margin-bottom: 22px;
          }
          p {
            width: 324.0791320800781px;
            height: 112;
            top: 2236px;
            left: 208.35px;
            opacity: 0.7;
            font-family: Poppins;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
          }
        }
      }
    }
    @media (max-width: 1310px) {
      & {
        .body {
          .body-cards {
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
          }
          .body-cards1 {
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
    @media (max-width: 680px) {
      & {
        .header {
          h2 {
            width: 100%;
          }
        }
      }
    }
    @media (max-width: 407px) {
      & {
        .header {
          h2 {
            font-size: 19px;
            line-height: 25px;
          }
        }
        .body {
          .body-cards {
            // flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            .body-card {
              width: 100%;
              p {
                width: 100%;
              }
            }
          }
          .body-cards1 {
            flex-wrap: wrap;
            justify-content: center;
            .body-card {
              width: 100%;
              p {
                width: 100%;
              }
            }
            .body-card_time {
              width: 100%;
              p {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
.our {
  .container {
    padding: 130px 0 128px;
    .flp {
      display: flex;
      gap: 110px;
      .text1 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h3 {
          font-family: Poppins;
          font-weight: 600;
          font-size: 38px;
          leading-trim: NONE;
          line-height: 56px;
          letter-spacing: 0%;
        }
        p {
          width: 327px;
          height: 56;
          top: 3122px;
          left: 160px;
          opacity: 0.7;
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0%;
        }
      }
      .text2 {
        display: flex;
        flex-direction: column;
        gap: 48px;
        h5 {
          width: 843px;
          height: 144;
          top: 2992px;
          left: 597px;
          opacity: 1;
          font-family: Poppins;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          letter-spacing: 0%;
        }
        .cirdi {
          display: flex;
          gap: 480px;
          .jenny-card {
            display: flex;
            gap: 14px;
            .jenny-text {
              display: flex;
              flex-direction: column;
              gap: 0;
              label {
                font-family: Poppins;
                font-weight: 400;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0%;
                color: var.$text-darkblue;
              }
              span {
                font-family: Poppins;
                font-weight: 400;
                font-size: 12px;
                line-height: 28px;
                letter-spacing: 0%;
                color: var.$text-darkblue;
              }
            }
          }
        }
      }
    }
    @media (max-width: 1310px) {
      & {
        .flp {
          flex-direction: column;
          .text1 {
            align-items: center;
            justify-content: center;
            text-align: center;
            h3 {
              width: 100%;
              margin: 0 auto;
            }
            p {
              width: 100%;
            }
          }
          .text2 {
            align-items: center;
            text-align: center;
            h5 {
              width: 100%;
            }
            .cirdi {
              width: 100%;
              justify-content: center;
              gap: 0;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
