$bg-blueTint: rgba(28, 30, 83, 1);
$bg-yellow: rgba(252, 217, 128, 1);

$text-gray: rgba(187, 187, 203, 1);
$text-whiteHover: rgba(255, 255, 255, 1);
$text-darkblue: rgba(40, 41, 56, 1);
$border-color: rgba(244, 246, 252, 0.2);
